In [0]:
import numpy as np
import pandas as pd

In [0]:
df=pd.read_csv('toy - toy.csv')

In [0]:
df.head()

  opponent      venue   outlook  toss result
0      kkr  bangalore  overcast  lost    won
1       mi     mumbai     sunny   won    won
2      rcb     mumbai  overcast   won    won
3      kkr  bangalore     sunny  lost    won
4      kkr  bangalore     sunny   won    won

In [0]:
#P_W=P(W/{"kkr", "chennai","overcast","lost"})
#P_W=P({"kkr", "chennai","overcast","lost"}/W)*P(W)

In [0]:
w=df[df['result']=='won'].shape[0]
l=df[df['result']=='lost'].shape[0]
t=df.shape[0]

In [0]:
#P(W)=w/t
print('P(W) =',w/t)

P(W) = 0.68

In [0]:
#P('kkr'/W)
dfw=df[df['result']=='won']
k=dfw[dfw['opponent']=='kkr'].shape[0]
print("P('kkr'/W) =",str(round((k/w),3)))

P('kkr'/W) = 0.471

In [0]:
#P('chennai'/W)
c=dfw[dfw['venue']=='chennai'].shape[0]
print("P('chennai'/W) =",str(round((c/w),3)))

P('chennai'/W) = 0.353

In [0]:
#P('overcast'/W)
o=dfw[dfw['outlook']=='overcast'].shape[0]
print("P('overcast'/W) =",str(round((o/w),3)))

P('overcast'/W) = 0.529

In [0]:
#P('lost'/W)
l=dfw[dfw['toss']=='lost'].shape[0]
print("P('toss'/W) =",str(round((l/w),3)))

P('toss'/W) = 0.353

In [0]:
pw=str(round((k/w)*(c/w)*(o/w)*(l/w)*(w/t),3))
print('Probability of winning is ',pw)

Probability of winning is  0.021

In [0]:
#P_L=P(L/{"kkr", "chennai","overcast","lost"})
#P_L=P({"kkr", "chennai","overcast","lost"}/L)*P(L)

In [0]:
#P(L)=l/t
print('P(L) =',l/t)

P(L) = 0.24

In [0]:
#P('kkr'/L)
dfl=df[df['result']=='lost']
kkr=dfl[dfl['opponent']=='kkr'].shape[0]
print("P('kkr'/L) =",str(round((kkr/l),3)))

P('kkr'/L) = 0.333

In [0]:
#P('chennai'/L)
ch=dfl[dfl['venue']=='chennai'].shape[0]
print("P('chennai'/L) =",str(round((ch/l),3)))

P('chennai'/L) = 0.667

In [0]:
#P('overcast'/L)
oc=dfl[dfl['outlook']=='overcast'].shape[0]
print("P('overcast'/L) =",str(round((oc/l),3)))

P('overcast'/L) = 0.5

In [0]:
#P('lost'/L)
lo=dfl[dfl['toss']=='lost'].shape[0]
print("P('toss'/L) =",str(round((lo/l),3)))

P('toss'/L) = 0.0

In [0]:
pl=str(round((kkr/l)*(ch/l)*(oc/l)*(lo/l)*(l/t),3))
print('Probability of losing is ',pl)

Probability of losing is  0.0

In [0]:
pw>pl

True

### Conclusion: The team would win the match as pw is greater than pl and we know, according to Naive Bayes the decision probability has higher weightage.